[bumpversion]
current_version = 0.9.2
commit = True

[bumpversion:file:CITATION.cff]
search='20(\d+)-04-15'
replace = '{now:%Y-%m-%d}'
[bumpversion:file:meta.yaml]
[bumpversion:file:pynytimes/__version__.py]
