[bumpversion]
current_version = 0.9.2
commit = True

[bumpversion:file:CITATION.cff]
search='2023-04-15'
replace = '{now:%Y-%M-%d}'
[bumpversion:file:meta.yaml]
[bumpversion:file:pynytimes/__version__.py]
